header {
    background: rebeccapurple;
    margin-bottom: 2rem;
}

body {
    background: bisque;
    padding-bottom: 2.5rem;
}

footer {
    background: aquamarine;
    position: fixed;
    width: 100%;
    bottom: 0;
}